<!--ABOUT AREA-->
    <section class="about-area sky-gray-bg padding-top relative wow fadeIn" id="about">
        <div class="area-bg"></div>
        <div class="container">
            
            <div class="row flex-v-center">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
                    <div class="area-title no-margin text-center">
                        <h2>Voordelen</h2>
                    </div>
                </div>
            </div>
            <div class="row flex-v-center">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="about-mockup right xs-mb50 wow fadeIn">
                        <img src="assets/img/about/about-1.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="about-content wow fadeInUp">
                        <h3 class="mb30">Kwalitatieve backlinks zijn essentieel voor hoge Google rankings!
                        </h3>
                        <ul>
                            <li> <i class="fa fa-check"></i> Vergroot je concurrentie voorsprong door het verkrijgen van kwalitieve backlinks uit het Influencer Netwerk van Working with Brands. Duizenden blogs en sites van influencers beschikbaar!</li>
                            <li> <i class="fa fa-check"></i> Wij behandelen backlinks als assests van uw onderneming en monitoren deze dagelijks. Via uw dashboard bent u altijd op de hoogte van de voortgang en verkregen backlinks.</li>
                            <li> <i class="fa fa-check"></i> Working with Brands ontzorgt bedrijven in hun linkbuilding. Wij nemen al het werk uit handen en rapporteren u de voortgang en resultaten. 10 jaar ervaring verwerkt in onze dienstverlening.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row flex-v-center padding-top">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="about-content xs-mb50 wow fadeInUp">
                        <h3 class="mb30">De voordelen van Influencer Marketing</h3>
                        <ul>
                        <li> <i class="fa fa-check"></i>Influencers activeren uw doelgroep (conversie).</li>
                        <li> <i class="fa fa-check"></i>Influencers vergroten het bereik (branding).</li>
                        <li> <i class="fa fa-check"></i>Influencers vergroten SEO posities in Google, door het plaatsen van content op hun site of blog met daarin follow links (SEO).</li>
                        </ul>
                        <a href="#" class="read-more mt30 inline-block open-popup" >Gratis Linkbuilding Advies</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="about-mockup wow fadeIn">
                        <img src="assets/img/about/about-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->