<!--BLOG AREA-->
    <section class="blog-area padding-100-50 wow fadeIn" id="news">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h2>Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row blog-slider no-margin">
                <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-blog-item mb50 shadow">
                        <div class="blog-thumb">
                            <a href="#"><img src="/assets/img/blog/merken-bouwen-seo.jpg" alt=""></a>
                        </div>
                        <div class="blog-details padding20">
                            <h3 class="blog-title mt10"><a href="#">Beter in Google scoren door het bouwen van een merk</a></h3>
                            <a class="read-more" href="#">Lezen</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-blog-item mb50 shadow">
                        <div class="blog-thumb">
                            <a href="#"><img src="assets/img/blog/seo-voordelen-websites-met-blog-600x400.jpg" alt=""></a>
                        </div>
                        <div class="blog-details padding20">
                            <h3 class="blog-title mt10"><a href="#">Waarom Websites met een blog het gaan winnen in Google</a></h3>
                            <a class="read-more" href="#">Lezen</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12 no-padding">
                    <div class="single-blog-item mb50 shadow">
                        <div class="blog-thumb">
                            <a href="#"><img src="assets/img/blog/voorkom-duplicate-content-600x400.jpg" alt=""></a>
                        </div>
                        <div class="blog-details padding20">
                            <h3 class="blog-title mt10"><a href="#">Waarom duplicate content slecht is voor de vindbaarheid in Google</a></h3>
                            <a class="read-more" href="#">Lezen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--BLOG AREA END-->