<!--FEATURES TOP AREA-->
    <section class="features-top-area padding-100-50 wow fadeIn" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h2>Werkwijze</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box mb50 center padding20 box-hover-1 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="box-img-icon">
                            <img src="assets/img/icon/icon_2.png" alt="">
                        </div>
                        <h3 class="box-title">SEO Strategie</h3>
                        <p>Suggesties voor zoekwoorden, uitwerking van een long tail en short tail keywords, advies voor een ijzersterke SEO technisch geoptimaliseerde website.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 center padding20 box-hover-1 active wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-img-icon">
                            <img src="assets/img/icon/icon_3.png" alt="">
                        </div>
                        <h3 class="box-title">Content Creatie</h3>
                        <p>Dankzij ons Influencer Netwerk in iedere branche zijn wij in staat om kwalitatieve content voor uw bedrijf te creeeren. Content door onze influencers matcht met uw doelgoep.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 center padding20 box-hover-1 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="box-img-icon">
                            <img src="assets/img/icon/icon_1.png" alt="">
                        </div>
                        <h3 class="box-title">Linkbuilding (distributie)</h3>
                        <p>Distributie van uw content via het Influencer Netwerk bestaande uit duizenden websites en blogs. Dit zorgt voor directe zichtbaarheid en de follow links verhogen SEO rankings.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 center padding20 box-hover-1 visible-sm wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box-img-icon">
                            <img src="assets/img/icon/icon_1.png" alt="">
                        </div>
                        <h3 class="box-title">Quality Service</h3>
                        <p>Starting with a full audit of your technical SEO presence means our efforts won’t be wasted on unnoticed structural problems.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FEATURES TOP AREA END-->