<!--FEATURES TOP AREA-->
    <section class="features-top-area padding-100-50 wow fadeIn" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h2> {{ .Site.Data.home.featureAreaTop.titleSection }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
				{{ range first 3 .Site.Data.home.featureAreaTop.list }}
					<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
						<div class="text-icon-box mb50 center padding20 box-hover-1 wow fadeInUp" data-wow-delay="0.1s">
							<div class="box-img-icon">
								<img src="{{.image }}" alt="">
							</div>
							<h3 class="box-title">{{.heading }}</h3>
							<p>{{.info }}</p>
						</div>
					</div>
				
				{{end}}
				
          
            </div>
        </div>
    </section>
    <!--FEATURES TOP AREA END-->