<!--FEATURES AREA-->
    <section class="features-area padding-top" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeInUp">
                        <h2>Diensten</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 padding30 box-hover-1 wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="box-img-icon">
                            <img src="assets/img/icon/service_1.png" alt="">
                        </div>
                        <h3 class="box-title">Content Creatie</h3>
                        <p>Bereik uw doelgroep door de creatie van de juiste content verspreid onder de juiste doelgroep. Gegarandeert resultaat met ons influencer netwerk.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 padding30 box-hover-1 active wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="box-img-icon">
                            <img src="assets/img/icon/service_2.png" alt="">
                        </div>
                        <h3 class="box-title">Keyword Onderzoek</h3>
                        <p>Voordat wij starten met linkbuilding via influencers doen we eerst een keyword onderzoek om concurrentie en kansen in kaart te brengen.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 padding30 box-hover-1 wow fadeInLeft" data-wow-delay="0.9s">
                        <div class="box-img-icon">
                            <img src="assets/img/icon/service_3.png" alt="">
                        </div>
                        <h3 class="box-title">Internationalisering</h3>
                        <p>Ons netwerk gaat verder dan alleen Nederland en ideaal om uw doelgroep ook in het buitenland te bereiken.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 padding30 box-hover-1 wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="box-img-icon">
                            <img src="assets/img/icon/service_5.png" alt="">
                        </div>
                        <h3 class="box-title">Backlink monitoring</h3>
                        <p>Backlinks zijn belangrijke bouwstenen van uw SEO strategy. Het is daarom van belang dat wij precies de status van al uw links monitoren.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 padding30 box-hover-1 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="box-img-icon">
                            <img src="assets/img/icon/service_6.png" alt="">
                        </div>
                        <h3 class="box-title">Zoekmachine Marketing</h3>
                        <p>De site is het fundament van SEO. Het is essentieel dat deze SEO technisch goed op orde is. Wij adviseren onze klanten omtrent de status.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 padding30 box-hover-1 wow fadeInLeft" data-wow-delay="0.9s">
                        <div class="box-img-icon">
                            <img src="assets/img/icon/service_4.png" alt="">
                        </div>
                        <h3 class="box-title">Linkbuilding</h3>
                        <p>Iedere maand vergroten we het aantal kwalitatieve backlinks wat uw domein authoriteit zal versterken en posities in Google zal verhogen.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FEATURES AREA END-->