<!--FOOER AREA-->
    <footer class="footer-area sky-gray-bg section-padding relative wow fadeIn">
        <div class="footer-top-area padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="call-to-action flex-v-center">
                            <div class="cta-content width50p xs-width100p">
                                <h3 class="font32 xs-font24">Genereer meer website verkeer naar uw website of webshop </h3>
                                <p>Working with Brands adviseert u graag vrijblijvend om te kijken naar de mogelijkheden van linkbuilden via Influencer Marketing.</p>
                            </div>
                            <div class="cta-button width50p xs-width100p right xs-left xs-mt30"><a href="#" class="read-more open-popup">Gratis Linkbuilding Advies</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12 sm-center xs-center sm-mb50 xs-mb50">
                        <div class="footer-logo mb50">
                            <a href="#"><img src="#" alt=""></a>
                        </div>
                        <div class="footer-about">
                            <p>Working with Brands gelooft in de kracht van influencers voor hogere conversies, directe zichtbaarheid en betere SEO posities.</p>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-1 col-xs-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-footer-widget">
                                    <h4>Working with Brands</h4>
                                    <ul>
                                        <li><a href="#features">Werkwijze</a></li>
                                        <li><a href="#about">Voordelen</a></li>
                                        <li><a href="#services">Diensten</a></li>
                                        <li><a href="#clients">Referenties</a></li>
                                        <li><a href="#pricing">Tarieven</a></li>
                                        <li><a href="#news">Blog</a></li>
                                        <li><a href="#" class="open-popup">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-footer-widget">
                                    <h4>Diensten</h4>
                                    <ul>
                                        <li><a href="#services">Linkbuilding</a></li>
                                        <li><a href="#services">Backlink monitoring</a></li>
                                        <li><a href="#services">Zoekmachine marketing</a></li>
                                        <li><a href="#services">SEO strategie</a></li>
                                        <li><a href="#services">Keyword onderzoek</a></li>
                                        <li><a href="#services">Content Creatie</a></li>
                                        <li><a href="#services">Internationalisering</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-footer-widget">
                                    <h4>Legal</h4>
                                    <ul>
                                        <li><a href="#">Algemene Voorwaarden</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-copyright mt50 center">
                            <p>Copyright 2019 <a href="https://www.workingwithbrands.com"> Working with Brands</a> All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOER AREA END-->