<!-- POPUP STARTS -->
  <div class="container-fluid popup">
    <div class="container popup__body">
      <div class="row flex-v-center popup__row">
          <div class="menu-btn change close-popup">
              <div class="bar1"></div>
              <div class="bar3"></div>
          </div>
        <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 popup__form-container">
          <h3>Gratis Advies</h3>
         <form class="contact-form" name="contact" method="POST" data-netlify="true">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <input type="text" name="firstname" placeholder="Naam" class="form-success"  id="name"><div class="err-msg">*
First name can not be empty!</div>
                </div>

                <div class="col-md-12 col-lg-6">
                    <input type="email" name="email" placeholder="Email" >
                </div>

                <div class="col-md-12 col-lg-6">
                    <input type="text" name="phone" placeholder="Telefoon" >
                </div>

                <div class="col-md-12 col-lg-6">
                    <input type="text" name="website" placeholder="Website" >
                </div>

                <div class="col-md-12">
                    <textarea name="message" placeholder="Bericht" class="form-textarea"></textarea>
                </div>
                <div class="btn-wrapper">
                    <button type="submit" class="custom-btn btn-big grad-style-ef" id="submit">Aanvraag versturen</button>
                </div>
            </div>
            <!-- End of .row -->
        </form>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 popup__info-container">
          <div class="contact-info floating-contact-info">
            <h5>Direct contact</h5>

            <p class="address">
                Telefonisch contact<br>
                <a href="tel:0850012865">085 - 001 2865</a>
            </p>
            <!-- End of .address -->

            <p class="address">
                Stuur een email<br>
                <a href="mailto:info@workingwithbrands.com">info@workingwithbrands.com</a>
            </p>
            <!-- End of .address -->

        </div>
        </div>
      </div>
    </div>
  </div>
   <!-- POPUP ENDS -->