<!--PRICING AREA AREA-->
    <section class="pricing-area padding-top wow fadeIn" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h2>Tarieven</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-8 col-lg-offset-2 col-md-offset-1 col-xs-12">
                    <div class="price-list">

                        <div class="single-price-two">
                            <div class="price-hidding">
                                <h3>Small</h3>
                            </div>
                            <div class="price-rate">
                                <h3 class="font42">€500,-
                                    <sub>/ p.m.</sub>
                                </h3>
                            </div>
                            <div class="price-details mb20">
                                <ul>
                                    <li><i class="fa fa-check"></i> Small Backlink Netwerk</li>
                                    <li><i class="fa fa-check"></i> Backlink monitoring</li>
                                    <li><i class="fa fa-check"></i> Keyword analyse</li>
                                    <li><i class="fa fa-check"></i> Content creatie</li>
                                    <li><i class="fa fa-check"></i> Content distributie</li>
                                    <li><i class="fa fa-check"></i> SEO advies</li>
                                </ul>
                            </div>
                            <div class="price-button font14">
                                <a href="#" class="purchase-button open-popup">Aanvragen</a>
                            </div>
                        </div>
                        <div class="single-price-two">
                            <div class="price-hidding">
                                <h3>Medium</h3>
                            </div>
                            <div class="price-rate">
                                <h3 class="font42">€1500,-
                                    <sub>/ p.m.</sub>
                                </h3>
                            </div>
                            <div class="price-details mb20">
                                <ul>
                                    <li><i class="fa fa-check"></i> Medium Backlink Netwerk</li>
                                    <li><i class="fa fa-check"></i> Backlink monitoring</li>
                                    <li><i class="fa fa-check"></i> Keyword analyse</li>
                                    <li><i class="fa fa-check"></i> Content creatie</li>
                                    <li><i class="fa fa-check"></i> Content distributie</li>
                                    <li><i class="fa fa-check"></i> SEO advies</li>
                                </ul>
                            </div>
                            <div class="price-button font14">
                                <a href="#" class="purchase-button open-popup">Aanvragen</a>
                            </div>
                        </div>
                        <div class="single-price-two">
                            <div class="price-hidding">
                                <h3>Big</h3>
                            </div>
                            <div class="price-rate">
                                <h3 class="font42">€2500,-
                                    <sub>/ p.m.</sub>
                                </h3>
                            </div>
                            <div class="price-details mb20">
                                <ul>
                                    
                                    <li><i class="fa fa-check"></i> Big Backlink Netwerk</li>
                                    <li><i class="fa fa-check"></i> Backlink monitoring</li>
                                    <li><i class="fa fa-check"></i> Keyword analyse</li>
                                    <li><i class="fa fa-check"></i> Content creatie</li>
                                    <li><i class="fa fa-check"></i> Content distributie</li>
                                    <li><i class="fa fa-check"></i> SEO advies</li>
                                </ul>
                            </div>
                            <div class="price-button font14">
                                <a href="#" class="purchase-button open-popup">Aanvragen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--PRICING AREA AREA END-->