<!--PRICING AREA AREA-->
    <section class="pricing-area padding-top wow fadeIn" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h2>{{ .Site.Data.pricing.titleSection }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-8 col-lg-offset-2 col-md-offset-1 col-xs-12">
                    <div class="price-list">
						{{ range .Site.Data.pricing.list }}

                        <div class="single-price-two">
                            <div class="price-hidding">
                                <h3>{{.heading}}</h3>
                            </div>
                            <div class="price-rate">
                                <h3 class="font42">{{.rate}},-
                                    <sub>/ {{.per}}</sub>
                                </h3>
                            </div>
                            <div class="price-details mb20">
                                <ul>
									{{ range .subList }}
										<li><i class="fa fa-check"></i> {{.}}</li>
									{{end}}
                                </ul>
                            </div>
                            <div class="price-button font14">
                                <a href="{{.buttonUrl}}" class="purchase-button open-popup">{{.buttonText}}</a>
                            </div>
                        </div>
						{{end}}
						
					</div>
                </div>
            </div>
        </div>
    </section>
    <!--PRICING AREA AREA END-->