<!--TESTMONIAL AREA AREA-->
    <section class="testmonial-area relative padding-top-50" id="clients">
        <div class="area-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center referenties">
                        <h2>Referenties</h2>
                    </div>
                </div>
            </div>
        </div>
        <!--CLIENT AREA-->
    <section class="client-area padding-30-80 wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <p>Bedrijven waarvoor wij hebben mogen werken</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="client-list client-slider">
                        <div class="single-client"><img src="assets/img/client/client-6.png" alt=""></div>
                        <div class="single-client"><img src="assets/img/client/client-7.png" alt=""></div>
                        <div class="single-client"><img src="assets/img/client/client-8.png" alt=""></div>
                        <div class="single-client"><img src="assets/img/client/client-9.png" alt=""></div>
                        <div class="single-client"><img src="assets/img/client/client-10.png" alt=""></div>
                        <div class="single-client"><img src="assets/img/client/client-11.png" alt=""></div>
                        <div class="single-client"><img src="assets/img/client/client-12.png" alt=""></div>
                        <div class="single-client"><img src="assets/img/client/client-13.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CLIENT AREA END-->
        <div class="testmonial-slider">
            <div class="single-testmonial-two">
                <div class="testmonial-quote"></div>
                <div class="author-content mb20">
                    <p>" Building a compelling and intuitive user experience is vital to being effective online. Ironpaper specializes in making online business systems and websites more user friendly and easy to navigate. ?"</p>
                </div>
                <div class="author-name-image relative">
                    <div class="author-img">
                        <img src="assets/img/testmonial/testmonial-1.jpg" alt="">
                    </div>
                    <h4>Mckayla Lilly</h4>
                    <a href="#">x.com</a>
                </div>
            </div>
            <div class="single-testmonial-two">
                <div class="testmonial-quote"></div>
                <div class="author-content mb20">
                    <p>" Building a compelling and intuitive user experience is vital to being effective online. Ironpaper specializes in making online business systems and websites more user friendly and easy to navigate. ?"</p>
                </div>
                <div class="author-name-image relative">
                    <div class="author-img">
                        <img src="assets/img/testmonial/testmonial-1.jpg" alt="">
                    </div>
                    <h4>Mckayla Lilly</h4>
                    <a href="#">x.com</a>
                </div>
            </div>
        </div>
    </section>
    <!--TESTMONIAL AREA AREA END-->