<!--TESTMONIAL AREA AREA-->
    <section class="testmonial-area relative padding-top-50" id="clients">
        <div class="area-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center referenties">
                        <h2>{{ .Site.Data.home.testimonial.titleSection }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!--CLIENT AREA-->
    <section class="client-area padding-30-80 wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <p>{{ .Site.Data.home.testimonial.subTitleSection }}</p>  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="client-list client-slider">
						{{ range .Site.Data.home.testimonial.clientsLogo }}
							<div class="single-client"><img src="{{.}}" alt=""></div>
						{{end}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CLIENT AREA END-->
        <div class="testmonial-slider">
			{{ range .Site.Data.home.testimonial.testmonials }}
				<div class="single-testmonial-two">
					<div class="testmonial-quote"></div>
					<div class="author-content mb20">
						<p>" {{.info}}"</p>
					</div>
					<div class="author-name-image relative">
						<div class="author-img">
							<img src="{{.image}}" alt="">
						</div>
						<h4>{{.name}}</h4>
						<a href="{{.linkUrl}}">{{.linkText}}</a>
					</div>
				</div>
			{{end}}
        </div>
    </section>
    <!--TESTMONIAL AREA AREA END-->